<!DOCTYPE html>
<html  ng-app="gameApp">
 
<head>
  <title>Game App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/page.css">
  <script type="text/javascript" src="/lib/angular.min.js"></script>

</head>
 
<body  ng-controller="GameCtrl">

    
  <div class="container" ng-if="!completeQuiz">
      
    <div class="row questionsurface headerText" style=" background-image: url('/images/bg-{{questionNumber+1}}.png');" ><div class="overlayImage">
    <div class="questioCount">Question <span>{{questionNumber+1}}/5</span></div>   
      <div class="score" style="position: relative; top: 35%;">
        <div class="col-md-6" style="width: 50%; float: left;">You earned <span class="row" style="font-size:22px;color:#FFC107;"> {{totalScore}} </span> eCash</div>
          <div class="col-md-6" style="width: 50%; float: left;">This question is for <span class="row" style="font-size:22px;color:#FFC107;"> {{ecashArray[correctAnswer]}} </span> eCash</div>
            </div>
        </div></div>    
      <div ng-show="warning"  class="alert alert-info" >
      Please select one option.
</div>
   
   <div class="row questionText">
        <span>{{sample.question}}</span>
    </div>
<hr>

<div class="row" style="padding:0 25px;">
    <ul>
    <li ng-repeat="option in sample.options"><label><input type="radio" ng-model="sample.selected" value="{{$index+1}}" name="answer"> <span> {{option}}</span></label>
        
        </li>
    
    </ul>
    
    </div>
<hr>
<div class="row" style="padding: 0px 15px 15px;">
<input type="button" class="btn btn-success pull-right" ng-show="!sample.submitted" value="Next" ng-click="submitResponse();" style="background-color: rgb(112, 202, 52);padding: 6px 30px;">
<input ng-if="questionNumber > 0" type="button" class="btn btn-danger pull-left" value="End Quiz" ng-click="quitQuiz();" style="background-color: rgb(244, 67, 54);">
    </div>
   
</div>

        <!-- Modal -->
  <div class="modal fade" id="finishQuiz" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Play and Earn</h4>
        </div>
        
        <div class="modal-body">
        <div class="alert alert-success">
          <strong>Great!! You won {{totalScore}} amount of eCash.</strong> 
             <ul>
              <li style="list-style:inside;">Enter your email ID below to claim your eCash.</li>
              <li style="list-style:inside;">Please log in / register on Yatra using the same email ID to view your eCash.</li>
              <li style="list-style:inside;">eCash will be credited in your account within 24 hrs.</li>
              
             </ul>
        </div>
            
            
         <label>Email ID </label>
        <div class="row" ng-show="emailError" style="color:red;font-size:14px; padding: 0 17px;">Please enter valid email ID</div>    
        <input type="text" class="form-control" ng-model="emailCustomer">
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="postData();">Submit</button>
        </div>
       
      </div>
      
    </div>
  </div>
   <div class="modal fade" id="correctAnswer" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Play and Earn</h4>
        </div>
        <div class="modal-body">
        <div class="alert alert-success">
          <strong>Congratulations!</strong> You have earned {{ecashArray[correctAnswer-1]}} eCash.
        </div>
            <p ng-if="questionNumber < 5" >Proceed to next question worth {{ecashArray[correctAnswer]}} eCash.</p>
            </div>
        <div class="modal-footer">
          <button ng-if="questionNumber < 5" type="button" class="btn btn-success" data-dismiss="modal" >Proceed</button>
          <button type="button" ng-if="questionNumber > 4" class="btn btn-success" data-dismiss="modal" ng-click="quitQuizLast();" >Finish Quiz</button>
        </div>
      </div>
      
    </div>
  </div>   
 <div class="modal fade" id="wrongAnswer" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Play and Earn</h4>
        </div>
        <div class="modal-body">
        <div class="alert alert-danger">
          <strong>Oops! Wrong answer.</strong> No eCash earned.
        </div>
              <p ng-if="questionNumber < 5">Good luck for the next question worth {{ecashArray[correctAnswer]}} eCash.</p>
            </div>
        <div class="modal-footer">
          <button ng-if="questionNumber < 5" type="button" class="btn btn-success" data-dismiss="modal" >Proceed</button>
          <button type="button" ng-if="questionNumber > 4" class="btn btn-success" data-dismiss="modal" ng-click="quitQuizLast();" >Finish Quiz</button>
        </div>
      </div>
      
    </div>
  </div>   
    
    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" style="color: #1181f1;">Play and Earn</h4>
        </div>
        <div class="modal-body">
        <h2 style="margin-top: 0px;">Win 500 eCash </h2>
          <p>Just answer 5 simple questions to win.
</p>
            <p>Use your earned eCash for flights, hotels and bus bookings. 
</p>
           <p style="color:red;">Note :- One user can play only TWICE to get the eCash. </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Let’s Play</button>
        </div>
      </div>
      
    </div>
  </div>

    <!-- Modal -->
  <div class="modal fade" id="confirmModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure , you want to quit?
</p>
            
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" >No</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="quitQuizLast();">Yes</button>
        </div>
      </div>
      
    </div>
  </div>

     <div class="modal fade" id="lastModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Thanks for playing</h4>
        </div>
        <div class="modal-body">
         <p>Use your eCash for flights, hotels, and bus bookings. <b>Happy travelling !</b></p>
           
            
        </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="closeQuiz();">Close</button>
        </div>
      </div>
      
    </div>
  </div>
    
    
 <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/factory.js"></script>
     <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>

</body>
 
</html>